# core deep learning framework PyTorch for building & training models
torch
torchvision

# loading, procesing, manipulating images from patient uploads
opencv-python

# lighweight backend framework
flask

# data handling
pandas

# visualizing outputs
matplotlib

# progress bars for loops — useful during training or batch predictions
tqdm

# interactive notebooks for prototyping
jupyter